# Security / API Keys
.env

# Virtual Environments
taenv/
tavenv/
venv/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDEs
.vscode/
.idea/

# LangGraph checkpoints
data/checkpoints.db
data/checkpoints.db-journal
data/checkpoints.db-wal
data/checkpoints.db-shm

package-lock.json
settings.local.json
temp/**