python-dotenv==1.0.1
langchain-google-genai==4.2.2
langchain-groq==1.1.2
langchain-core==1.3.2
google-generativeai==0.8.6
langgraph==1.1.10
langgraph-checkpoint==4.0.3
langchain_ollama
langchain-openai==2.30.0
langgraph-checkpoint-sqlite
rich==14.3.3
prompt_toolkit==3.0.48
pydantic==2.12.5
requests
